ion-content ion-toolbar {
  --background: translucent;
}

ion-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

ion-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50px;
  height: 50px;
  background: #CA6702;
  justify-content:center;
  align-content:center;
}

ion-card-content{
  font-weight: bold;
  color: #ffffff;
}